*{
    margin:0%;
    padding: 0%;
    /* border: 1px solid red; */
}


section{
background-color: gainsboro;
    width: 100%;
    height: 100vh;
    display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

section>div{
 
width: 30%;
height: 30%;
background-color: #fff;
border-radius: 12px;
display: flex;
padding-left: 22px;
justify-content: space-evenly;
flex-direction: column;
box-shadow: 3px 4px 4px 4px #333;

}


.innerdivSpan{
    width: 80%;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    gap: 12px;
    color: white;
    background-color:rgb(41, 41, 104);
    cursor: pointer;
    
}


.innerdivSpan:hover{
    background-color: rgb(16, 16, 41);
}
.class1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.class2{
    color:royalblue;
}
.class3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}